{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block branding %}
	<h1 id="site-name">The Voice</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'teams' %}">{% trans 'Teams' %}</a> | 
<a href="{% url 'candidates' %}">{% trans 'Candidates' %}</a> | 
<a href="{% url 'performances' %}">{% trans 'Performances' %}</a> | 
<a href="{% url 'mentors' %}">{% trans 'Mentors' %}</a> |
<a href="{% url 'admin:logout' %}?next=/">{% trans 'Log out' %}</a>
{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}
