{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="app">
	<div class="form-group">
		<input class="form-group" type="text" v-model="teamSearch" placeholder="team name">
	</div>
	<div v-cloak>
		<table>
			<tr><th>Team</th><th>Mentor</th><th>Average Score</th></tr>
			<tr v-for="team in teams"><td><a :href="team.web_url">[[ team.name ]]</a></td><td>[[ team.mentor_name ]]</td><td>[[ team.average_score ]]</td></tr>
		</table>
	</div>
</div>

<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/lodash.min.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/teamSearch.js' %}"></script>

<style>
  [v-cloak] {
    display: none;
  }
</style>
{% endblock %}